body  
{   
    font-family: 'Source  Sans  Pro',  sans-serif;    
    font-size: 18px; 
}
header  
{    
    border-bottom: 1px solid #999;    
    margin-bottom: 2rem;   
    display: flex; 
}

.nav-left  
{    
    margin-right: auto; 

}
.nav-right
{    
    color: green;
    margin-top: 50px; 
   
    
}
.post-entry  
{    
    margin-bottom: 2rem; 
}
.post-entry h2  
{    
    margin: 0.5rem 0; 
}
.post-entry h2 a, 
.post-entry h2 a:visited  
{    
    color: blue;    
    text-decoration: none; 
}
.post-entry p  
{    
    margin: 0;    
    font-weight: 400; 
}
.post-entry h2 a:hover  
{    
    color: red; 
}

a .login-l
{
    color: green;
    font-size: 10px;
}

#dj {
    color: blueviolet ;
}

#sg {
    color: blueviolet;
}