<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Django project</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel ="stylesheet">
        <header>
                <a href= "{% url 'home' %}">Home </a> |   <a href= "{% url 'about' %}">About</a> | <a href= "{% url 'post' %}">Post</a> | <a href= "{% url 'blog' %}">Blog</a>
                <h1> <a href="{% url 'home' %}"> Django project</a></h1>
        </header> 
        
        
        
        {% block content %}
        {% endblock content %}

</head>
<body>
               
</body>
</html>


